.about-us-content .total-years h2 {
    color: #27C77C !important;
}

.about-us-content .about-btn a {
    color: #27C77C !important;
}
.about-us-content .about-btn a:hover{
    color: #fff !important;
    background-color: #27C77C !important;
}
.about-us-area .mouse-scroll-area-2 .about-us-shape-1 .medizin-shape {
    width: 150px;
    height: 150px;
    color: #27C77C;
    border-radius: 50%;
    background: currentColor;
}